<%- layout('layouts/main.ejs') %>
<div class="card card-body">

    <h3>Email: <%= user.email %></h3>
    <p>
        <h2>Password:</h2> <%= user.password %>
    </p>
    <p>
       <h2>Id USER:</h2> <%= user._id %>
    </p>
    
    </div>